@font-face {
	font-family: Roboto Condensed Light;
	src: url("RobotoCondensed-Light.ttf");
	src: url("./fonts/RobotoCondensed-Light.ttf");
}

#canvas {
	border: 1px solid white;
}

body {
	background-color: black;
	color: white;
	font-family: 'Roboto Condensed Light';
}

footer {
    margin-left: 30px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    position: relative;
    width: 300px;
    height: 300px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}